**/node_modules/
**/dist/
**/build/
**/out/

# Don't copy docker things into the container
**/*.Dockerfile
**/Dockerfile
**/docker-compose.yaml
**/docker-compose.yml

# Docs shouldn't be needed to build the docker image
/docs
/*.md
/LICENSE

# Don't include environment files. Interconnection is handled by docker-compose.yaml and a main .env file
.env*
