**/node_modules/
**/dist/
**/build/
**/out/

# Docs shouldn't be needed to build the docker image
/docs
/README.md
/LICENSE

# Don't include environment files. Interconnection is handled by docker-compose.yaml and a main .env file
.env*
