.topics {
  display: flex;
  flex-direction: row;
  gap: var(--mui-spacing)
} 

.topic {
  display: flex;
  flex-direction: column;
  gap: var(--mui-spacing);
  padding: var(--mui-spacing);
  max-width: 400px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.2s;
}

.topic:hover {
  background-color: var(--mui-palette-action-hover);
}

.topic h5 {
  margin: 0;
}
