# An example of the .env file you should have in the root directory (clone root, not system root)
 
# The port to run councilwatch on
COUNCILWATCH_PORT=8080

# The database password
POSTGRES_PASSWORD=changeme

JWT_ALGORITHM=HS256
JWT_AUDIENCE=councilwatch
JWT_ISSUER=councilwatch
JWT_SECRET=my-super-secret-key-that-i-should-not-be-using-in-production
JWT_LIFETIME=1h
